html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body.dark{
  background-color: #060d15;
  color: white
}

input[type="checkbox"] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-self: center;
}